@layer reset, theme, base, components, layout, utlities;

@layer reset {
	/* 1. Use a more-intuitive box-sizing model */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/* 2. Remove default margin */
	* {
		margin: 0;
	}

	/* 3. Enable keyword animations */
	@media (prefers-reduced-motion: no-preference) {
		html {
			interpolate-size: allow-keywords;
		}
	}

	body {
		/* 4. Add accessible line-height */
		line-height: 1.5;
		/* 5. Improve text rendering */
		-webkit-font-smoothing: antialiased;
	}

	/* 6. Improve media defaults */
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	/* 7. Inherit fonts for form controls */
	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	/* 8. Avoid text overflows */
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	/* 9. Improve line wrapping */
	p {
		text-wrap: pretty;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	button {
		cursor: pointer;
	}

	/*
  10. Create a root stacking context
*/
	#root,
	#__next {
		isolation: isolate;
	}
}

@layer theme {
	:root {
		color-scheme: light dark;
		--bg-primary: light-dark(#f4f1ed, #0b0b0c);
		--toggle-bg-primary: #bdbdbd;
		--toggle-switch-bg-primary: #f0f0f0;
		--toggle-text-primary: #000;
	}
}

@layer base {
	body {
		background-color: var(--bg-primary);
		font-family: Arial, Helvetica, sans-serif;
	}
}

@layer components {
	.toggle-container {
		--container-width: 120px;
		width: var(--container-width);
		height: 50px;
		border-radius: 1000px;
		background-color: var(--toggle-bg-primary);
		display: flex;
		align-items: center;
		position: relative;
		justify-content: space-between;
		text-transform: capitalize;

		& span {
			font-size: 1.05rem;
			margin: 0 10px;
			font-weight: bold;
			color: var(--toggle-text-primary);
		}
	}

	.toggle-switch {
		width: 40%;
		height: 90%;
		border-radius: 50%;
		border: none;
		margin: 4px;
		position: absolute;
		transition: translate 0.3s ease;
		background-color: var(--toggle-switch-bg-primary);

		&:focus-visible {
			outline: 2px solid #000;
		}
	}
}

@layer layout {
	body {
		min-height: 100dvh;
		display: grid;
		place-items: center;
	}
}

@layer utilities {
	.slide-toggle {
		translate: calc(var(--container-width) - 100% - 8px);
	}
}
