@layer reset, base, layout, components, utilities;

@layer reset {
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 6. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 7. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 8. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /*
  10. Create a root stacking context
*/
  #root,
  #__next {
    isolation: isolate;
  }
}

@layer base {
  body {
    display: grid;
    place-items: center;
    min-height: 100dvh;
    background-color: whitesmoke;
  }
}

@layer components {
  form {
    width: 40vw;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    font-size: 1.2rem;
    gap: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    background-color: white;
    text-transform: capitalize;
  }

  label,
  input {
    display: block;
    text-transform: capitalize;
    color: gray;
    font-weight: 500;
    width: 100%;
  }

  input[type="email"]::placeholder {
    text-transform: none;
  }

  input {
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.35);
    margin-top: 5px;
    padding: 5px;
  }
}

input::placeholder {
  text-indent: 5px;
  font-size: 1rem;
}

h1 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

button {
  background-color: oklch(0.65 0.13 242.69);
  border: 2px solid oklch(0.65 0.13 242.69);
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
}

@layer utilities {
}
