@layer reset, base, layout, components;

@layer reset {
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 6. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 7. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 8. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  button {
    cursor: pointer;
  }

  /*
  10. Create a root stacking context
*/
  #root,
  #__next {
    isolation: isolate;
  }
}

@layer base {
  body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: oklch(0.27 0.03 287.24);
    color: white;
  }

  label {
    font-size: 1.2rem;
    margin-right: 5px;
  }

  select {
    padding: 5px 10px;
    border-radius: 7px;
  }
}

@layer components {
  .container {
    padding: 20px;
    border-radius: 10px;
    border: 4px solid #67eaf6;
    display: grid;
    gap: 20px;
    text-align: center;
  }

  .legend {
    text-align: center;
    background-color: oklch(0% 0 0 / 0.1);
    padding: 7px 10px;
    color: gray;
    border-radius: 4px;
    text-transform: capitalize;
    border: 1px solid white;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
  }

  .legend > span {
    color: white;
    font-size: 0.9rem;
  }

  .legend > span::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: white;
    display: inline-block;
    margin-right: 5px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: translateY(2px);
  }

  .legend > span:first-of-type::before {
    background-color: #777;
  }

  .legend > span:nth-of-type(2)::before {
    background-color: #67eaf6;
  }

  .screen {
    width: 80%;
    height: 70px;
    background-color: white;
    display: block;
    justify-self: center;
    border-radius: 2px;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.75);
    transform: rotateX(-45deg);
  }

  .seats {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 80%;
    margin: 0 auto;
    row-gap: 5px;
  }

  .seat {
    width: 15px;
    height: 15px;
    background-color: white;
    display: inline-block;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: translateY(2px);
    justify-self: center;
    transition: scale 0.4s;
  }

  .seat:hover {
    scale: 1.2;
  }

  p span {
    color: #67eaf6;
    font-weight: 900;
  }

  .selected {
    background-color: #67eaf6;
  }
}
